<div *ngIf="globalStats">
	<div class="centerer">
	<div class="row no-space-bottom">
		<div class="col s4 xl150 mb-3">
			<div class="card clickable" routerLink="/cases">
				<div class="card-image ">
					<img src="https://firebasestorage.googleapis.com/v0/b/covidapp-c8c73.appspot.com/o/blue_corona.jpg?alt=media&token=a49fedc1-4678-493b-9cfc-57805e34d510" alt="material backgroung image">
					<div class="card-title">
						<span class="center-align">{{ formatterService.number(globalStats.cases) }}</span>
						<span class="center-align today">
							<b>Today: {{ formatterService.number(globalStats.todayCases) }}</b>
						</span>
					</div>
					
				</div>
				<div class="card-content">
					<h5 class="card-title center-align">Total Cases</h5>
				</div>
			</div>
		</div>
		<div class="col s4  xl150 mb-3">
			<div class="card clickable" [routerLink]="['/cases', 'recovered']">
				<div class="card-image">
					<img src="https://firebasestorage.googleapis.com/v0/b/covidapp-c8c73.appspot.com/o/yellow_corona.jpg?alt=media&token=c7039ab6-d3ef-4ce9-8609-164132b5aa39" alt="material backgroung image">
					<div class="card-title">
						<span class="center-align">{{ formatterService.number(globalStats.recovered) }}</span>
					</div>
					
				</div>
				<div class="card-content">
					<h5 class="card-title center-align">Total Recovered</h5>
				</div>
			</div>
		</div>
		<div class="col s4 xl150 mb-3">
			<div class="card clickable" [routerLink]="['/cases', 'deaths']">
				<div class="card-image">
					<img src="https://firebasestorage.googleapis.com/v0/b/covidapp-c8c73.appspot.com/o/red_corona.jpg?alt=media&token=e2fe4e08-45b1-40b7-b316-c4516f67c8c6" alt="material backgroung image">
					<div class="card-title">
						<span class="center-align">{{ formatterService.number(globalStats.deaths) }}</span>
						<span class="center-align today">
							<b>Today: {{ formatterService.number(globalStats.todayDeaths) }}</b>
						</span>
					</div>
					
				</div>
				<div class="card-content">
					<h5 class="card-title center-align">Total Deaths</h5>
				</div>
			</div>
		</div>
	<div class="row">
		<div class="col s3 right-align">
			<small><em>Last updated: {{ formatterService.date(globalStats.updated) }}</em></small> 
			<button class="waves-effect waves-light btn amber black-text" (click)="refreshData()">
				<svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M3.17 6.706a5 5 0 017.103-3.16.5.5 0 10.454-.892A6 6 0 1013.455 5.5a.5.5 0 00-.91.417 5 5 0 11-9.375.789z" clip-rule="evenodd"/>
					<path fill-rule="evenodd" d="M8.147.146a.5.5 0 01.707 0l2.5 2.5a.5.5 0 010 .708l-2.5 2.5a.5.5 0 11-.707-.708L10.293 3 8.147.854a.5.5 0 010-.708z" clip-rule="evenodd"/>
				</svg>
				Refresh Now
			</button>
		</div>
	</div>
</div>
</div>
<html>
  <head>
    <title>Cours Complet Bootstrap 4</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <table class="table">
        <tbody>
          <tr bgcolor="#33FFDF">
			<td>Total Cases</td>
            <td>{{ formatterService.number(globalStats.cases) }}</td>
          </tr>
          <tr bgcolor="#33FFDF">
			<td>New Cases</td>
            <td>{{ formatterService.number(globalStats.todayCases) }}</td>
		  </tr>
		  <tr bgcolor="#33FFDF">
			<td>Active Cases</td>
            <td>{{ formatterService.number(globalStats.cases - globalStats.recovered)  }}</td>
          </tr>
          <tr bgcolor="#FFD333">
			<td>Total Recovered</td>
            <td>{{ formatterService.number(globalStats.recovered) }}</td>
		  </tr>
		  <tr bgcolor="#FFD333">
			<td>New Recovered</td>
            <td>{{ formatterService.number(globalStats.todayRecovered) }}</td>
		  </tr>
		  <tr bgcolor="#FFD333">
			<td>Recovery Rate</td>
            <td>{{ formatterService.porpotion(globalStats.todayRecovered/globalStats.cases)}}</td>
		  </tr>
		  <tr bgcolor="FF4533">
			<td>Total Deaths</td>
            <td>{{ formatterService.number(globalStats.deaths) }}</td>
		  </tr>
		  <tr bgcolor="FF4533">
			<td>New Deaths</td>
            <td>{{ formatterService.number(globalStats.todayDeaths) }}</td>
		  </tr>
		  <tr bgcolor="FF4533">
			<td>New Deaths</td>
            <td>{{formatterService.porpotion(globalStats.deaths/globalStats.cases)}}</td>
		  </tr>
        </tbody>
      </table>
	</div>
  </body>
</html>
<app-loading *ngIf="!globalStats"></app-loading>
