<footer class="page-footer grey lighten-4">
	<div class="footer-copyright">
		<div class="container">
			<p class="grey-text text-darken-3 center-align">Copyrights {{ year }} : &copy; Author : Yassine ELKHEIR</p>
		</div>
		<div class="container">
			<p class="grey-text text-darken-3 center-align"><a href="https://corona.lmao.ninja/">dataSource</a> </p>
		</div>
		<div class="container">
			<p class="grey-text text-darken-3 center-align"><a href="mailto:elkheiryassine0@gmail.com">ContactMe</a> </p>
		</div>
	</div>
</footer>