<div>
    <div class="text-center">
        <div class="mb-5">
            <h1><img
                width="28"
                src="https://firebasestorage.googleapis.com/v0/b/covidapp-c8c73.appspot.com/o/covid_logo.jpg?alt=media&token=1997c501-5fec-4d6b-b5b8-3959e5a3c8c6"
                alt="COVID ICON"/>
                COVID-19</h1>
            <h3 class="text-muted">Live Updates and Statistics</h3>
        </div>
    </div> </div>
<dashboard-summary></dashboard-summary>

<div class="row">
    <dashboard-news></dashboard-news>
</div>